@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}
body{
    background-color: white;
    color: black;
}
body.dark-theme {
    background-color: #333;
    color: white;
}
nav {
    background: #ffffff;
    height: 80px;
    width: 100%;
}
nav.dark-theme {
    background: #222;
    color: white;
}

label.logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 30px 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px 33px;
    border-radius: 3px;
}
nav.dark-theme ul li a {
    color: white;
}

a .active,
a:hover {
    background: #bababa;
    transition: .5s;

}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.progress-container {
    
  
    width: 100%;
    position: absolute;
    bottom: 180px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
}

.progress-bar {
    width: 100px;
    height: 15px;
    margin: 0 5px;
    
    background-color: #cccccc93;
}

.progress-bar.active {
    background-color: #7474749d;
}
.show_ups {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.item p, h2{
    text-decoration: none;
    color: black;
}

.item {
    width: 20%;
    height: 40%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: white;

}
.item img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.spot_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ad img{
width: 600px;
justify-content: center;
padding: 40px;
}
.text{
   
    display: flex;
    flex-direction: column;
   padding: 30px;
   justify-content: center;
    text-wrap: wrap;
    font-size: 20px;
}

.upper p{
    font-size: 50px;
    font-weight: 900;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 40%;
    margin: auto;
}

.products {
    display: flex;
    overflow: hidden;
    width: 400px; 
}

.product {
    min-width: 300px; 
    min-height: 400px;
    margin: 10px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    text-align:center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.arrow {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.heart {
    cursor: pointer;
    color: red;
}
.produkty{
    display: flex;
    flex-direction: row;
    width: 100%;
margin-top: 50px;
background-color: rgb(241, 241, 241);
}
.produkty.dark-theme{
    background-color: #333;
}
.teksty {
    width: 40%;
    padding: 30px;
    font-size: 90px;
    justify-content: center;
    font-weight: 900;
}
.teksty.dark-theme{
    color: white;
}
.card_container{
    width: 100wv;
  
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(172, 199, 177);
}
.card{
    padding: 10px;
    width: 25%;
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.card img{
    border-radius: 20px;
}
.opis p{
    font-weight: 900;
    font-size: 20px;
}
.opis button{
    padding: 20px;
   border: 0;
   background-color: transparent;
   cursor: pointer;
   font-style: italic;
   text-decoration: underline;
   font-size: 16px;
}
.headline p{
    text-align: center;
    padding: 40px;
    font-size: 50px;
    font-weight: 900;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer.dark-theme {
    background-color: #222;
}
.footer-content {
    margin-bottom: 10px;
}

.footer-content h3 {
    margin: 0;
}

.footer-content p {
    margin: 10px 0;
}

.socials {
    list-style: none;
    padding: 0;
}
footer .socials a {
    color: white;
}
.socials li {
    display: inline;
    margin: 0 10px;
}

.socials a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
}
#subscriptionForm{
    padding: 20px;
    margin: 10px;
}
#subscriptionForm button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: black;
}
#subscriptionForm input{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: black;
}
#subscriptionForm button:hover{
    background-color: rgb(212, 212, 212);
}
@media screen and (max-width: 768px) {
.card{
    width: 50%;
}

}
@media screen and (max-width: 858px){

.card img{
    width: 150px;
    height: 150px;
}
.prev, .next{
    display: none;
}
.progress-container{
    display: none;
}
.image-container{
   display: none;
}
.container{
    display: none;
}
.spot_1{
    flex-direction: column;
}
.produkty{
   flex-direction: column;
   width: 100%;
}
.product{
    width: 100%;
}
#productContainer{
    width: 500px;
}
.teksty{
    padding: 0px;
}
    body{
        flex-wrap: wrap;
    }
    .content_text h1{
        font-size: 50px;
    }
    .content_logo{
        display: none;
    }
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0px -5px 24px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px -5px 24px -4px rgba(0,0,0,0.63);
    box-shadow: 0px -5px 24px -4px rgba(0,0,0,0.63);
    top: 64px;
    left: -120%;
    text-align: center;
transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
    padding: 5px;
color: rgb(0, 0, 0);
}
nav{
    position: fixed;
    top: 0;
}

#check:checked ~ ul{
    left: 0;

}


}
@media screen and (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding: 5px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    body {
        flex-wrap: wrap;
    }
    .teksty{
        width: 50%;
        font-size: 60px;
        text-wrap: wrap;
       
    }
    .product{
        width: 55%;
    }
    .text{
        font-size: 15px;
    }
   
}